.face {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start; 
    width: 100%;
    max-width: 360px;
    margin: auto;
}

.face img {
    height: 40vh;
    max-height: 240px;
    width: 40vh;
    max-width: 240px;
    margin-bottom: 1rem;
    border-radius: 300px;
    object-fit: cover;
}