#next-button {
    cursor: pointer;
    padding: .5rem 2rem;
    font-size: 1rem;
    border-radius: 2rem;
    color: #50c6db;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #fff;
}

#next-button:focus {
    animation: pulsate .8s ease-in-out infinite alternate;
    border-color: #f0ce15;
}

#next-button.skip {
    color: #fff;
    background-color: rgba(0,0,0,.2);
}

.button-container {
    width: 100%;
    flex: 1 0 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@keyframes pulsate {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

