#app-header {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    z-index: 1001;
}

#hamburger {
    border: 2px solid #50c6db;
    display: block;
    cursor: pointer;
    padding: .5rem 1rem;
    background: #01516e;
    border-radius: 2rem;
    z-index: 1001;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

#hamburger:focus {
    border: 2px solid #f0ce15;
    outline: none;
}


.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4px;
    box-sizing: border-box;
    background: rgba(0,0,0,.1);
    z-index: 9999999;
}

.progress {
    height: 4px;
    background-color: #f0ce15;
    transition: width .3s ease-in-out;
}