#options {
    position: absolute;
    /* left: -100vw; */
    left: 0;
    top: 0;
    min-height: 100vh;
    width: 100vw;
    background: #01516e;
    transition: left .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    z-index: 1000;
}

#options.started {
    left: -100vw;
}

#options.options-showing {
    left: 0;
}

#options h2 {
    margin-top: 0;
    font-size: 1.3rem;
}

.options-container {
    width: 100%;
    max-width: 760px;
    padding: 1rem;
}

.options-container h2 {
    text-align: left;
}

#options hr {
    width: 100%;
    height: 0;
    border: none;
    border-top: 1px solid #9f9c9c;
    margin: 1rem 0;
}

.option-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.option-group input, .option-group label {
    cursor: pointer;
    text-align: left;
}

.option-group input[type=checkbox], .option-group input[type=radio] {
    position: absolute;
    left: -1000vw;
}

.option-group div {
    width: 100%;
    text-align: left;
    margin: .2rem;
}

.option-group p {
    margin: 0 1em 0 0;
}

.option-group .option-group {
    width: 100%;
    text-align: left;
    margin: .2rem 0 .2rem 1.5rem;
}

#easy-mode {
    position: absolute;
    right: 100vw;
}

#mode-select {
    font-size: 1rem;
    margin-left: .5rem;
}

input[type=radio] + label {
    color: #9f9c9c;
}

input[type=radio]:checked + label {
    color: #fff;
}

select {
    font-size: 1rem;
    margin-left: .5rem;
}

select:focus  {
    outline: 2px dashed #f0ce15;
}

input:focus + label > span:first-of-type {
    outline: 1px dotted yellow ;
}

button {
    cursor: pointer;
    color: #fff;
    padding: 1em 1.5em;
    border-radius: 5em;
    text-transform: uppercase;
    font-weight: bold;
    background: #01516e;
    border: 2px solid #50c6db;
    line-height: 1;
}

button:focus {
    outline: none;
    border-color: #f0ce15;
}

input[type=number]{
    color: #fff;
    background: none;
    box-sizing: border-box;
    font-size: inherit;
    margin-left: .5em;
    border: none;
    border-bottom: 2px solid #fff;
}

input:disabled {
    color: #9f9c9c;
}

select:disabled {
    opacity: 0.6;
}

#options label > span:first-of-type {
    margin-right: .3em;
}

#game-mode-section label {
    text-align: left;
}

.added-info {
    width: 100%;
    margin: 0 0 .6rem 1.4rem;
    text-align: left;
    line-height: 1;
}

#filter-group small {
    margin: .5rem 0 .3rem 1.65rem;
}

#filter-group select {
    margin-left: 1.3rem;
}

